<h1>Editing <a href="/<%= @page.name %>"><%= @page.name %></a></h1>

<div class="sub_nav">
  <a href="/<%= @page.name %>" class="nav_link">back</a> &bull;
  <a href="/h/<%= @page.name %>" class="nav_link">history</a> 
</div>

<div class="content">
  <form method="post" action="/e/<%= params[:page] %>">
    <textarea name="body" id="edit_textarea"><%= @page.raw_body %></textarea>
    <p class="right"><input type="submit" value="Save" class="submit" /></p>
  </form>
</div>

<div class="clearer"></div>
