<h1>Editing <a href="/<%= @page.name %>"><%= @page.name %></a></h1>

<div class="sub_nav">
  <a href="/<%= @page.name %>" class="nav_link">back</a>
  
  <% if @page.tracked? %>
    &bull; <a href="/h/<%= @page.name %>" class="nav_link">history</a> 
  <% end %>
</div>

<div class="content">
  <form method="post" action="/e/<%= page_with_ext %>">
    <textarea name="body" id="edit_textarea"><%= @page.raw_body %></textarea>
    Message:
    <textarea name="message" rows="4" id="message_textarea"></textarea>
    <p class="right"><input type="submit" value="Save" class="submit" /></p>
  </form>
</div>