<script type="text/javascript">
  $(document).ready(function() {
    $(".edit_area").editable('/eip/<%= @page.name %>', {
      indicator: "saving...",
      tooltip: 'double-click to edit...',
      cancel: 'cancel',
      submit: 'save',
      event: 'dblclick',
      cssclass: 'edit',
      loadurl: '/<%= @page.name %>/raw',
      type: 'textarea',
      name: 'body'
    });
  });
</script>

<h1><%= @page.name %></h1>

<%= @env %>

<div class="sub_nav">
  <% if params[:rev] %>
    <a href="/<%= @page.name %>" class="nav_link">current</a> &bull;
  <% else %>
    <a href="/e/<%= @page.name %>" class="nav_link">edit</a> &bull;
  <% end %>
  
  <a href="/h/<%= @page.name %>" class="nav_link">history</a>
  
  <% if @page.previous_commit %>
    &bull; <a href="/h/<%= @page.name %>/<%= @page.previous_commit %>" class="nav_link">older</a>
  <% end %>
  
  <% if @page.next_commit %>
    &bull; <a href="/h/<%= @page.name %>/<%= @page.next_commit %>" class="nav_link">newer</a>
  <% end %>

  <div class="sub_nav details">
    <script type="text/javascript">
      document.write(time_ago_in_words(<%= @page.updated_at.for_time_ago_in_words %>) + ' ago');
    </script>
    <br />
    <%= $repo.current_branch %> branch    
  </div>
  
</div>

<div class="content edit_area"><%= @page.body %></div>